# サイト設定
NEXT_PUBLIC_SITE_URL=https://TODO: あなたのドメイン.com

# 開発環境用（オプション）
# QIITA_TOKEN=your_qiita_token_here
# DEVTO_TOKEN=your_devto_token_here
# ZENN_REPO_SSH=git@github.com:TODO: あなたのユーザー名/zenn-content.git
# ZENN_SSH_KEY=your_ssh_key_here
